<app-header titulo="Despesas"></app-header>

<ion-content padding id="content-container">
  <ion-list lines="full" class="scroll-content">
    <ion-item *ngFor="let despesa of despesas">
      <ion-label>{{despesa}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer >
  <ion-toolbar>      
    <ion-tabs >
      <ion-tab style="color:rgba(42, 103, 163, 0.2); font-weight: 700" 
      label="Nova Despesa" href="/despesas/nova"> </ion-tab>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>
