
<ion-header class="header header-md hydrated">
  <ion-toolbar class="hydrated">
    <ion-buttons slot="start">
       <ion-back-button mode="md"></ion-back-button> 
    </ion-buttons>
    <ion-title class="title-md hydrated"> Voltar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="content-container">

  <ion-card>

    <ion-item>
      <i class="fas fa-dollar-sign"></i>
      <ion-title>Nova despesa</ion-title>
    </ion-item>

    <ion-card-content>
      <ion-item>
        <ion-label>Data</ion-label>
        <ion-datetime display-format="MM/DD/YYYY"></ion-datetime>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Valor</ion-label>
        <ion-input type="number"></ion-input>
      </ion-item>

      <ion-button mode="md" id="btnSalvar">Salvar</ion-button>
    </ion-card-content>
  </ion-card>

</ion-content>
